{{#if this.siteSettings.curation_helper_enabled}}
    {{#if model.curationEnabledOnTopic }}
        {{#if model.topicCannotBeRejectedReason }}
            <span class="warning">
                {{d-icon 'warning'}}{{model.topicCannotBeRejectedReason}}
            </span>
        {{else}}
            {{#if model.rejected_at }}
                {{d-button class="btn"
                           action="clickUndoRejectButton"
                           actionParam=model
                           label="curation.undo_reject"}}
            {{else}}
                {{d-button class="btn btn-danger btn-icon-text"
                           action="clickRejectButton"
                           actionParam=model
                           icon="trash"
                           label="curation.reject"}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
